<p id="notice"><%= notice %></p>

<div style="width: 250px; height: auto">
 <%= image_tag(@spot.image, style:"width: 100%") %>
</div>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spot.price %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
