<div style="width: 250px; height: auto">
  <% if @spot.image.attached? %>
    <%= image_tag(@spot.image, style:"width: 100%; height: 100%") %>
  <% else %>
    <%= image_tag 'Placeholder.png', style:"width: 100%; height: 100%" %>
  <% end %>
</div>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spot.price %>
</p>

<p>
<%= link_to 'Company profile', "/users/#{@spot.host_id}", class:"btn btn-primary" %>
<br>
</p>

<%= commontator_thread(@spot) %>
<br>


<% if current_user == @spot.host %>
  <%= link_to 'EDIT', edit_spot_path(@spot), class:"btn btn-primary" %> |
  <%= link_to 'DELETE', @spot, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> |
<% end %>
<%= link_to 'BACK', spots_path, class:"btn btn-default" %>
