<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>
  <%= devise_error_messages! %>

<div class="panel panel-primary">
<div class="panel-heading"><strong>CREATE A <%= resource_name.to_s.humanize.upcase %> ACCOUNT</strong></div>
  <div class="panel-body">

    <div class="form-inputs">

      <%= f.label :email %>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %>
      </div>
      <br>

      <%= f.label :password %>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <%= f.password_field :password, class:"form-control", placeholder:"Password", autocomplete: "new-password" %>
      </div>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      <br>

      <%= f.label :password_confirmation %>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password confirmation", autocomplete: "new-password" %>
      </div>
      <br>

    <%# customized code begin %>
    <%= fields_for resource.type do |rf| %>
      <% break if resource.type == 'Customer' %>
      <% render :partial => "#{resource.type.downcase.underscore.underscore}_fields", locals: {f: f} %>
    <% end %>

    <%#= hidden_field :user, :user_type, :value => user_type %>
      <%#= hidden_field :user, :user_type, value: user_type %>
    <%# customized code end %>

    </div>

      <div class="form-group">
        <%= f.submit "SIGN UP", class:"btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>
