<h1>AirUnB</h1>

<% if user_signed_in? %>
    <h2>Welcome <%= current_user.email %> </h2>
        <li><%= link_to "New spot", new_spot_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <ul>
        <li><%= link_to "Sign up", new_user_registration_path %><br /></li>
        <li><%= link_to "Sign in", new_user_session_path %><br /></li>
      </ul>
    <% end %>

<br>

<div style="display: flex; flex-direction: row; justify-content: space-evenly">
    <% @spots.each do |spot| %>
        <% if spot.image.attached? %>
            <div style="width: 250px; height: auto">
                <%= link_to image_tag(spot.image, style:"width: 100%; height: 100%"), spot %>
            </div>
        <% end %>
    <% end %>
</div>

<br>

<%= link_to "Show more spots", spots_path %>